.d-flex{
  display: flex;
}
.flex-grow-2{
  flex-grow: 2;
}

.flex-grow-1{
  flex-grow: 1;
}
.menu{
  padding-top:50px;
  padding-left: 50px;
}
.align-buttons{
  justify-content: space-evenly;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
