<app-background-image></app-background-image>
<app-menu></app-menu>
<div style="  height: 80vh"></div>

<div style="display: flex;align-items: center; flex-direction: column">
  <app-text-line [img]="'../../../assets/Images/Line2.svg'" style="padding-bottom: 2vh"></app-text-line>
  <p class="main-parag">
    &emsp; The Russian Police started an investigation after they received an notice about 9 hikers gone missing.You and a team of specialists were tasked to go to the northern part of the Ural Mountains to find them and investigate what happened.
    <br>
    <br>Is it a crime? is it something else? you can find what happen only by going after them but be careful , because you can stumble upon something you really don't want to be in.
  </p>

  <app-text-line [img]="'../../../assets/Images/Line2.svg'" style="padding-Top: 2vh"></app-text-line>
  <img style="width: 100%;" [src]="'assets/Images/snow-steps 1.png'">
</div>



<div style="  height: 8vh"></div>
<app-banner [banner]="'NEWS'" id="News"></app-banner>
<app-news-section [article]="'n'"></app-news-section>
<p style="padding-top: 10vh;display: flex; align-items: center;flex-direction: column; font-size:16px">
  If you would like to get notified when an article appears, enter your email down bellow!
</p>
<app-email-form></app-email-form>

<div style="  height: 90vh"></div>
<app-banner [buttonState]="true" [banner]="'SHOP'" id="Shop"></app-banner>




<div style="  height: 90vh"></div>
<app-banner [banner]="'FAQ'" id="Faq"></app-banner>
<app-news-section [article]="'f'"></app-news-section>
<div style="height: 90vh"></div>

