.preorder-button{
  text-decoration: none;
  font-family:Prompt;
  font-size: 13px;
  color: #630000;

  border-style: solid;
  cursor:pointer;
  border-color: #630000;
  background: none;
  border-radius:20px;
  width: 100%;
  padding: 3% 3%;
}
