
<div style="display: flex; width: 814px;margin: auto">
  <mat-expansion-panel style="background: none; color: #FFE5DB;box-shadow: none;"
                       [class.mat-expansion-indicator::after]="false">
    <mat-expansion-panel-header class="overview" style="padding: 0 10px 0 0 ;">
      <mat-panel-title style="color: #FFE5DB; font-family: Prompt ">
        <div style="display: flex;flex-direction: column;width: 814px" >

          <strong>notin</strong>

          <app-text-line [img]="'../../../assets/Images/Line 3.svg'"></app-text-line>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p> notin2</p>
  </mat-expansion-panel>
</div>

