<div class="rectangle">
  <div class="all-text">
    <div class="shop-item-text" style="  display: flex;">
      <p >
      Nume
      </p>
     <p style="padding-left: 50%;">
      Pret
     </p>
   </div>
     <div style="display: flex; flex-direction: column">
      <p style="height:12vh">
      Descriere care sigur merge
     </p>
    </div>
  </div>
    <div style="display: flex; align-content: center; justify-content: center">
      <button class="buy-now"> BUY NOW</button>
    </div>


</div>
