.maintext{
  display: flex;
  margin-top: 13%;
  flex-direction: column;
  align-items: center;
}
.child{

  flex-direction: column;
  align-items: center;
  width: 723px;
  height: 444px;
  text-align: center;
  font-family: Prompt;
  letter-spacing: -0.5%;
  line-height: 0.8;
  font-size: 144px;

}
:host{
  vertical-align: middle;
}
.padding{
  padding-top: 1%;
  width: 10%;
}
